# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Ad-hoc backup files
*bup*
*~

# Swap junk files introduced by certain file systems
*.swp
